# Protect the .htaccess file
<Files .htaccess>
	Order Allow,Deny
	Deny from all
</Files>

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

# Disable directory browsing
Options All -Indexes

# First Parameer (Single Pages)
RewriteEngine On
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?view=null&id=$1
RewriteRule ^([a-zA-Z0-9_-]+)/$ index.php?view=null&id=$1

# Second Parameter (Core Methods)
RewriteEngine On
RewriteRule ^([a-zA-Z0-9_-]+)/([0-9]+)$ index.php?view=$1&id=$2
RewriteRule ^([a-zA-Z0-9_-]+)/([0-9]+)/$ index.php?view=$1&id=$2

# Third Parameter (Fancy URLs)
RewriteEngine On
RewriteRule ^([a-zA-Z0-9_-]+)/([0-9]+)/([a-zA-Z0-9_-]+)$ index.php?view=$1&id=$2&url=$3
RewriteRule ^([a-zA-Z0-9_-]+)/([0-9]+)/([a-zA-Z0-9_-]+)$ index.php?view=$1&id=$2&url=$3
